.portfolio{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    /* padding: var(--lg-pd); */
    background: var(--light-color);
}

.portfolio-content{
    background: var(--light-color);
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.portfolio-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}
.buttons{
    display: flex;
    gap: 2rem;
}
.btn-primary a{
    color: #fff;
}

.potfolio-right img{
    width: 29vw;
    min-width: 25vw;
    /* max-width: 25vw; */
}


@media screen and (max-width: 1384px) {
    /* .portfolio-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    } */
    .portfolio-left {
        padding-top: 2rem;
        /* align-items: center; */
    }
    .btn,.btn-primary{
        padding: 1rem 2rem;
}
.portfolio-left {
    gap: 1rem;
}
    .heading {
        font-size: 14px;
    }
    .buttons {
        display: flex;
        gap: 1rem;
        font-size: small;
    }
}

@media screen and (max-width: 900px) {
        .portfolio-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .portfolio-left {
        align-items: center;
    }
    .buttons {
        font-size: 10px;
    }
    .btn,.btn-primary{
            padding: 1rem 2rem;
    }
}

@media screen and (max-width: 600px) {
    .buttons {
        font-size: 10px;
    }
    .btn,.btn-primary{
            padding: 1rem 2rem;
    }
}

@media screen and (max-width: 500px) {
    .heading {
        font-size: xx-small;
    }
    .buttons {
        font-size: xx-small;
    }
    .potfolio-right img {
        width: 40vw;
        min-width: 25vw;
    }
    .btn, .btn-primary {
        padding: 0.5rem 1.5rem;
    }
    .potfolio-right img {
        width: 35vw;
        min-width: 25vw;
    }
}